* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Itim", cursive;
}

html {
  font-size: 6.25%;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
}

header button {
  width: 320px;
  height: 50px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #db3a34;
  opacity: 0.6;
  color: #fff;
  transition: 0.5s;
  margin: 0;
}

header button:hover {
  color: black;
  background-color: white;
}

#error {
  color: red;
  font-size: 16rem;
  margin-top: 15px;
}

h1 {
  font-size: 32rem;
  margin: 16px;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

h2 {
  text-align: center;
  font-size: 24rem;
  color: white;
}

.title-favorites {
  color: white;
  margin-top: 40px;
  font-size: 30rem;
}

#randomCats {
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  gap: 26px;
  place-content: center;
  margin: 3em 0 0 0;
}

@media (max-width: 640px) {
  .section {
    grid-template-columns: repeat(auto-fill, 140px);
  }
}

section button {
  width: 320px;
  height: 50px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #db3a34;
  opacity: 0.6;
  color: #fff;
  transition: 0.5s;
  margin: 0;
}

section button:hover {
  background-color: black;
  cursor: pointer;
  color: white;
}

#randomCats article {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#randomCats article img {
  width: 320px;
  height: 220px;
  border-radius: 5px;
  margin-bottom: 2px;
  object-fit: cover;
}

#favoritesCats {
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  gap: 26px;
  place-content: center;
  margin: 3em 0 40em 0;
}

#favoritesCats article {
  display: flex;
  flex-direction: column;
}

#favoritesCats article img {
  border-radius: 5px;
  width: 320px;
  height: 260px;
}

#favoritesCats article button {
  background-color: black;
  cursor: pointer;
  color: white;
}

#favoritesCats article button:hover {
  background-color: white;
  cursor: pointer;
  color: black;
}

.imageStatus {
  width: 260px;
  height: 260px;
  border-radius: 5px;
}

#uploadingDog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.custom-file-upload{
  text-align:center;
}

#submitDog,
.custom-file-upload {
  width: 260px;
  height: 50px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #db3a34;
  opacity: 0.6;
  color: #fff;
  transition: 0.5s;
  margin: 0;
}


.custom-file-upload:hover,
#submitDog:hover {
  opacity: 1;
}

#submitDog i,
.custom-file-upload i {
  margin-left:12px;
}

.custom-file-upload {
  border-radius: 20px 20px 0 0;
  background-color: #f0f0f0;
  color: #000;
  line-height: 50px;
}

#submitDog {
  border-radius: 0 0 20px 20px;
  margin-bottom: 30px;
}

#uploadingForm {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}
#file {
  display: none;
}
#preview {
  width: 260px;
  height: 260px;
  object-fit: cover;
  box-shadow: 0 40px 60px -6px black;
}

.title-favorites {
  margin: 10px;
}

footer {
  background-color: red;
  font-size: 30rem;
  text-align: center;
  padding: 20px;
}
